@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUI/SegoeUI/SegoeUI.woff") format("woff"),
  url("../fonts/SegoeUI/SegoeUI/SegoeUI.ttf") format("ttf"),
  url("../fonts/SegoeUI/SegoeUI/SegoeUI.eot") format("eot");
}

@font-face {
  font-family: "SegoeUI-SemiBold";
  src: url("../fonts/SegoeUI/SegoeUI-SemiBold/SegoeUI-SemiBold.woff") format("woff"),
  url("../fonts/SegoeUI/SegoeUI-SemiBold/SegoeUI-SemiBold.ttf") format("ttf"),
  url("../fonts/SegoeUI/SegoeUI-SemiBold/SegoeUI-SemiBold.eot") format("eot");
}