.sidebar {
  z-index: 1;
  color: #fff;
  display: none;
  width: 250px;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  background-color: #333;
  @media screen and (min-width: $smDesktopWidth) {
    display: block;
  }
}

.sidebar-header{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  margin-bottom: 20px;
  &__logo{
    max-width: 70px;
    display: block;
    flex: 1 0 auto;
    margin-right: 10px;
    img{
      max-width: 100%;
    }
  }
  &__title{
    font-family: $titleFont;
    font-size: 18px;
  }
}

.side-menu{
  &__item{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1px;
    padding: 0 5px;
     a{
       display: block;
       padding: 10px 15px;
       font-size: rem(14px);
       text-decoration: none;
       padding-right: 20px;
       color: $light-color;
       border-radius: 4px;
       &:hover{
         background-color: rgba(255,255,255,0.3);
       }
    }

  }

  .side-menu-dropdown{
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: rem(14px);
    transition: all ease 0.3s;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    &:hover + a{
      background-color: rgba(255,255,255,0.3);
    }
  }

  .mm-active .side-menu-dropdown{
    transform: rotate(180deg);
  }

  .nav-second-level {
    &__item{
      position: relative;
      display: block;
      width: 100%;
      > a {
        padding-left: 25px;
      }

      &:hover > a{
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
}

.slide-menu-toggle{
  display: none;
  margin-right: auto;
  @media screen and (max-width: $smDesktopWidth) {
    display: block;
  }
}

.mm-menu_offcanvas{
  width: 280px  ;
}

.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout {
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}